body {
    background-image: url("../images/light_honeycomb/light_honeycomb.png");
    background-color: #ffffff;     
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: auto;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-color: #ffffff;
    background-clip: content-box;
    background-image: url("../images/light_honeycomb/light_honeycomb.png");
    width: 100%;
}

.heading {
    background-color: #4aaaa5;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0 5px;
    text-align: center;
} 

.navigation-container {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    color: #777777;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a {
    color: #777777;
    text-decoration: none;
}
a:visited { 
    color: #777777;
    text-decoration: none; 
}

#about {
    border-right-style: solid;
    border-width: 1px;
    border-right-color: #777777;
    margin: 5x;
    padding: 10px;
}

#portfolio {
    border-right-style: solid;
    border-width: 1px;
    border-right-color: #777777;
    margin: 10px;
    padding: 10px;
}

#contact {
    margin: 5px;
    padding: 5px;
}

.wrapper {
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-color: #ffffff;
    border: #dddddd solid;
    margin: 25px auto;
    padding: 50px;
    width: 960px;
}

.content-heading {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 32px;
    margin: 20px;
    padding: 10px;
}

hr {
    border: 1px solid #777777;
    width: 95%;
}

p {
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    padding: 0;
    word-wrap: normal;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.content {
    flex: 1 0 auto;
}
.footer {
    display: flex;
    align-items: flex-end;
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
    flex-shrink: 0;
    height: 70px;
    width: 100%;
}

.footer-text {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;
    padding: 5px;
    width: 100%;
}