* {
  box-sizing: border-box;
}

.images-container {
  margin: 10px;
  padding: 10px;
}
.pic-1, 
.pic-2,
.pic-3,
.pic-4,
.pic-5 {
  margin: 5px;
  padding: 5px;
}

 .first-row-container {
  display: flex;
  justify-content: center;
}

.second-row-container {
  display: flex;
  justify-content: center;
}

.third-row-container {
  display: flex;
  justify-content: center;
}

.word-guess {
  background-color: #4aaaa5;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  position: absolute;
  bottom: 16%;
  width: 300px;
  padding: 15px;
}

.rpg {
  background-color: #4aaaa5;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  position: absolute;
  bottom: 16%;
  width: 300px;
  padding: 15px;
}

.trivia {
  background-color: #4aaaa5;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  position: relative;
  bottom: 18%;
  width: 300px;
  padding: 15px;
}

.info-widget {
  background-color: #4aaaa5;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  position: relative;
  bottom: 18%;
  width: 300px;
  padding: 15px;
}

.rps {
  background-color: #4aaaa5;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  position: relative;
  bottom: 18%;
  width: 300px;
  padding: 15px;
}