* {
  box-sizing: border-box;
}

.images-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
    padding: 10px;
}

.pic-1, .pic-2, .pic-3, .pic-4, .pic-5 {
  margin: 5px;
  padding: 5px;
  position: relative;
}

.project-text {
  background-color: #4aaaa5;
  bottom: -1%;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 15px;
  position: absolute;
  text-align: center;width: 97%;
}


