body {
    display: flex;
    flex-direction: column;
    margin: auto;
    background-image: url("../images/light_honeycomb/light_honeycomb.png");
    background-color: #ffffff;     
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-repeat: no-repeat;
    background-color: #ffffff;
    background-clip: content-box;
    background-image: url("../images/light_honeycomb/light_honeycomb.png");
}

.heading {
    display: flex;
    justify-content: center;
    padding: 0 5px;
    text-align: center;
    background-color: #4aaaa5;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
} 

.navigation-container {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 0;
    margin: 0;
    background-color: #ffffff;
    color: #777777;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a {
    text-decoration: none;
    color: #777777;
}
a:visited { 
    text-decoration: none; 
    color: #777777;
}

#about {
    border-right-style: solid;
    border-width: 1px;
    border-right-color: #777777;
    padding: 10px;
    margin: 5x;
}

#portfolio {
    border-right-style: solid;
    border-width: 1px;
    border-right-color: #777777;
    padding: 10px;
    margin: 10px;
}

#contact {
    padding: 5px;
    margin: 5px;
}

.wrapper {
    display: flex;
    justify-content: center;
    width: 960px;
    border: #dddddd solid;
    padding: 50px;
    margin: 25px auto;
    background-repeat: no-repeat;
    background-color: #ffffff;
}

#content {
    max-width: 960px;
    
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    padding: 10px;
    margin: 20px;
}

hr {
    border: 1px solid #777777;
    width: 900px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    word-wrap: normal;
    line-height: 1.6;
    padding: 0;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    
}

.content {
    flex: 1 0 auto;
}
.footer {
    flex-shrink: 0;
    width: 100%;
    height: 70px;
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
}

.footer-text {
    align-self: flex-end;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 11px;
}